language: rust
rust:
  - nightly

cache:
  - cargo

addons:
  apt:
    packages:
      - avr-libc
      - binutils-avr
      - gcc-avr

env:
  matrix:
    - BOARD=arduino-leonardo
    - BOARD=arduino-uno
    - BOARD=bigavr6
    - BOARD=trinket

install:
  - rustup component add rust-src

script:
  - echo "Building board \"$BOARD\" ..."
  - cd "boards/$BOARD" && cargo build --verbose --examples
