[profile.dev]
panic = "abort"
codegen-units = 1
incremental = false
lto = true

[profile.release]
panic = "abort"
codegen-units = 1
debug = false
lto = true

[workspace]
members = [
    # The generic hal definitions
    "avr-hal-generic",

    # The chip definitions
    "chips/atmega32u4-hal",
    "chips/attiny85-hal",

    # The board crates
    "boards/arduino-leonardo",
    "boards/trinket",
]
