[build]
target = "avr-none"
rustflags = ["-C", "target-cpu=atmega328p"]

[target.'cfg(target_arch = "avr")']
runner = "ravedude"
# To run in simulator, replace the line above with this:
# runner = "simavr -m atmega328p"

[unstable]
build-std = ["core"]
