[package]
name = "attiny-hal"
version = "0.2.0"

authors = ["Rahix <rahix@rahix.de>"]
edition = "2021"
description = "HAL crate for ATtiny-series AVR microcontrollers"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rahix/avr-hal"
keywords = ["avr", "arduino"]
categories = ["no-std", "embedded", "hardware-support"]

[features]
rt = ["avr-device/rt"]
device-selected = []
attiny84 = ["avr-device/attiny84", "device-selected", "_peripheral-simple-pwm"]
attiny85 = ["avr-device/attiny85", "device-selected", "_peripheral-adc", "_peripheral-simple-pwm"]
attiny88 = ["avr-device/attiny88", "device-selected", "_peripheral-adc", "_peripheral-spi", "_peripheral-simple-pwm"]
attiny167 = ["avr-device/attiny167", "device-selected", "_peripheral-adc", "_peripheral-spi"]
attiny2313 = ["avr-device/attiny2313", "device-selected"]

critical-section-impl = ["avr-device/critical-section-impl"]

# Allow certain downstream crates to overwrite the device selection error by themselves.
disable-device-selection-error = []

# We must select a microcontroller to build on docs.rs
docsrs = ["attiny85"]

_peripheral-adc = []
_peripheral-spi = []
_peripheral-simple-pwm = []

[dependencies]
avr-hal-generic = { path = "../../avr-hal-generic/" }

[dependencies.avr-device]
version = "0.7"

# Because this crate has its own check that at least one device is selected, we
# can safely "circumvent" the check in `avr-device`.
#
# Why would we want that?  Otherwise, as `avr-device` is compiled first, its
# error will be shown and ours won't which leads to a degraded user experience
# as the displayed error message does not really tell what needs to be done...
features = ["device-selected"]

[package.metadata.docs.rs]
features = ["docsrs"]
