name: Documentation

on:
  push:
    branches:
      - main

jobs:
  docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2023-12-28
          components: rust-src
      - name: Build documentation (arduino-hal)
        run: cd arduino-hal/ && cargo doc --features arduino-uno
      - name: Build documentation (atmega-hal)
        run: cd mcu/atmega-hal/ && cargo doc --features atmega328p
      - name: Build documentation (attiny-hal)
        run: cd mcu/attiny-hal/ && cargo doc --features docsrs
      - name: Deploy to GH-Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          publish_branch: gh-pages
          force_orphan: true
